body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    display: inline-block;
}

p {
    font-size: 19px;

}

.container {
    padding: 0;
    width: 100%;

}

.bg-color {
    background-color: black;
}

.bg-color1 {
    background-color: rgb(219, 218, 218);
}





.dimn {
    /* background-color: teal; */
    width: 39%;
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
}





.section {
    /* background-color: blue; */
    background-color: transparent;
    width: 100%;
    margin: auto;
    padding: 0;
}



img {
    width: 100%;
}





.bg-color {
    background-color: beige;
}



/* kkkkkkkkkkkkkkkkk */

.icon {
    width: 30px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    border-color: black;
    border-style: solid;
}

.ul1 {
    list-style: none;
    padding-left: 0%;
    display: inline-block;
    vertical-align: middle;

}

.txt-list {
    margin: 10px;
    /* display: inline-block; */
    vertical-align: middle;
}

/* kkkkkkkkkk */

.card-section {
    /* background-color: blue; */
}

.card-con-section {
    /* background-color: blue; */
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 0;
}


.card-con-head {
    /* background-color: blue; */
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}


#middle {

    margin: 0 2.5% 0 2.5%;
}




.card {
    /* background-color: aqua; */
    width: 31.6666666666667%;
    float: left;
    text-align: center;
    /* margin: 0 2.5% 0 2.5%; */
}

.card-img {
    /* background-color: blue; */
    margin-bottom: 6%;
}



.clr {
    clear: both;
}